.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputStyle{
  border: 2px solid #6E54A3 !important;
  color: white !important;
  background-color:#6E54A3 ;
}
.form-control:focus{
  background-color: #6E54A3;
  color: white;
  box-shadow: none;
}
.btn1{
  margin-left: 72px;
  background-color: #6E54A3 !important;
  border: 2px solid #6E54A3;
  color: white;
}
.btn1:hover{
  margin-left: 72px;
  background-color: #6E54A3 !important;
  border: 2px solid #6E54A3;
  color: white;
}
.box {
  /* box-shadow: 0 6px 14px rgba(0, 0, 0, 0.6); */
  border: 10px solid white;
  margin-top: 12px;
}
.box1 {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.6);
}

.boxed{
  width: 200px;
  height: 200px;
  background-color: white;
  color: #6E54A3;
  border: 2px soldi white;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
}

/* 
  Primary Color: #6E54A3 (Purple)
Accent Color: #FFFFFF (White)
E8E8E8
Background Color: #F3F3F3 (Light Gray) */